body {
  margin: 0;
  text-align: center;

  font-family: 'Comfortaa';

}

h1 {
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Lobster'
  ;
}

.topContainer {
  background-color: whitesmoke;
  border-radius: 5%;
  margin-top: 50px;
}

.middleContainer {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 5%;
}

.bottomContainer {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.bottomCloud {
  position: absolute;
  left: 100px;
}

.topCloud {
  position: absolute;
  top: 50px;
  right: 100px;
}

.underLine {
  text-decoration: underline overline;
}