body {
  margin: 0;
  text-align: center;
<<<<<<< HEAD
  font-family: 'Comfortaa';
=======
>>>>>>> 4ebc491c06dd3e9e41d82852f05cc23e75390246
}

h1 {
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Lobster'
  ;
}

.topContainer {
  background-color: whitesmoke;
<<<<<<< HEAD
  border-radius: 5%;
  margin-top: 50px;
=======

>>>>>>> 4ebc491c06dd3e9e41d82852f05cc23e75390246
}

.middleContainer {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 5%;
}

.bottomContainer {
  width: 200px;
  height: 200px;
  background-color: blue;
}

<<<<<<< HEAD
.bottomCloud {
  position: absolute;
  left: 100px;
}

.topCloud {
  position: absolute;
  top: 50px;
  right: 100px;
}

.underLine {
  text-decoration: underline overline;
=======
img {
  position: relative;
>>>>>>> 4ebc491c06dd3e9e41d82852f05cc23e75390246
}