body {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa';
  color: #40514E;
}

h1 {
  width: 50%;
  margin: 50px auto 10px;
  padding-top: 100px;
  font-family: 'Lobster';
  font-size: 5.6rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Press Start 2P';
  color: #66BFBF;
}

h5 {
  font-family: 'Lobster';
  color: #EAF6F6;
  font-size: 1.5rem;
}

p {
  font-weight: bolder;
  line-height: 2;
}

hr {
  border-style: none;
  height: 30px;
  overflow: hidden;
  color: #40514E;
}

hr::after {
  font-size: 30px;
  content: ".....";
  letter-spacing: 15px;

}

.topContainer {
  background-color: whitesmoke;
  border-radius: 5%;
  margin-top: 50px;
}

.contact-me {
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.bottomCloud {
  position: absolute;
  left: 150px;
}

.topCloud {
  position: absolute;
  top: 80px;
  right: 150px;
}

.underLine {
  text-decoration: underline overline;
}

.footer-link {
  color: #11999E;
  padding: 20px;
  margin-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0px auto;
}


.imgSkill-left {
  width: 150px;
  height: 150px;
  float: left;
  padding-right: 30px;
}

.imgSkill-right {
  width: 150px;
  height: 150px;
  float: right;
  padding-left: 30px;
}

a:link {
  text-decoration: none;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #000000, #383838);
  background-image: -moz-linear-gradient(top,  #000000, #383838);
  background-image: -ms-linear-gradient(top,  #000000, #383838);
  background-image: -o-linear-gradient(top,  #000000, #383838);
  background-image: linear-gradient(to bottom,  #000000, #383838);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: Arial;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top,  #000000, #383838);
  background-image: -moz-linear-gradient(top,  #000000, #383838);
  background-image: -ms-linear-gradient(top,  #000000, #383838);
  background-image: -o-linear-gradient(top,  #000000, #383838);
  background-image: linear-gradient(to bottom,  #000000, #383838);
  text-decoration: none;
}

.mezera {
  margin: 50px;
}